# {{ ansible_managed }}

domain {{ common_dns_domain }}
search {{ common_dns_domain }}

{% if common_use_inventory_dns %}
{% for ns in groups.bind9 %}
nameserver {{ hostvars[ns]['ansible_host'] }}
{% endfor %}
{% else %}
nameserver 1.1.1.1
nameserver 1.0.0.1
{% endif %}
